stpmex/SpeiServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://h2h.integration.spei.enlacefi.lgec.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://h2h.integration.spei.enlacefi.lgec.com/" name="SpeiServicesImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://h2h.integration.spei.enlacefi.lgec.com/" schemaLocation="http://demo.stpmex.com:7004/speidemo/webservices/SpeiServices?xsd=1"/>
</xsd:schema>
</types>
<message name="consultaSaldos">
<part name="parameters" element="tns:consultaSaldos"/>
</message>
<message name="consultaSaldosResponse">
<part name="parameters" element="tns:consultaSaldosResponse"/>
</message>
<message name="confirmaAbonoId">
<part name="parameters" element="tns:confirmaAbonoId"/>
</message>
<message name="confirmaAbonoIdResponse">
<part name="parameters" element="tns:confirmaAbonoIdResponse"/>
</message>
<message name="confirmaAbonoDelay">
<part name="parameters" element="tns:confirmaAbonoDelay"/>
</message>
<message name="confirmaAbonoDelayResponse">
<part name="parameters" element="tns:confirmaAbonoDelayResponse"/>
</message>
<message name="confirmaAbono">
<part name="parameters" element="tns:confirmaAbono"/>
</message>
<message name="confirmaAbonoResponse">
<part name="parameters" element="tns:confirmaAbonoResponse"/>
</message>
<message name="registraOrden">
<part name="parameters" element="tns:registraOrden"/>
</message>
<message name="registraOrdenResponse">
<part name="parameters" element="tns:registraOrdenResponse"/>
</message>
<message name="registraOrdenes">
<part name="parameters" element="tns:registraOrdenes"/>
</message>
<message name="registraOrdenesResponse">
<part name="parameters" element="tns:registraOrdenesResponse"/>
</message>
<message name="devuelveOrden">
<part name="parameters" element="tns:devuelveOrden"/>
</message>
<message name="devuelveOrdenResponse">
<part name="parameters" element="tns:devuelveOrdenResponse"/>
</message>
<message name="confirmaCargo">
<part name="parameters" element="tns:confirmaCargo"/>
</message>
<message name="confirmaCargoResponse">
<part name="parameters" element="tns:confirmaCargoResponse"/>
</message>
<message name="confirmaCargoRastreo">
<part name="parameters" element="tns:confirmaCargoRastreo"/>
</message>
<message name="confirmaCargoRastreoResponse">
<part name="parameters" element="tns:confirmaCargoRastreoResponse"/>
</message>
<message name="tiempoEntregaAbono">
<part name="parameters" element="tns:tiempoEntregaAbono"/>
</message>
<message name="tiempoEntregaAbonoResponse">
<part name="parameters" element="tns:tiempoEntregaAbonoResponse"/>
</message>
<message name="tiempoEntregaAbonoRastreo">
<part name="parameters" element="tns:tiempoEntregaAbonoRastreo"/>
</message>
<message name="tiempoEntregaAbonoRastreoResponse">
<part name="parameters" element="tns:tiempoEntregaAbonoRastreoResponse"/>
</message>
<message name="tiempoEntregaCargo">
<part name="parameters" element="tns:tiempoEntregaCargo"/>
</message>
<message name="tiempoEntregaCargoResponse">
<part name="parameters" element="tns:tiempoEntregaCargoResponse"/>
</message>
<message name="tiempoEntregaCargoRastreo">
<part name="parameters" element="tns:tiempoEntregaCargoRastreo"/>
</message>
<message name="tiempoEntregaCargoRastreoResponse">
<part name="parameters" element="tns:tiempoEntregaCargoRastreoResponse"/>
</message>
<message name="registraDetalleErrorEnvio">
<part name="parameters" element="tns:registraDetalleErrorEnvio"/>
</message>
<message name="registraDetalleErrorEnvioResponse">
<part name="parameters" element="tns:registraDetalleErrorEnvioResponse"/>
</message>
<message name="registraDetalleErrorRecepcion">
<part name="parameters" element="tns:registraDetalleErrorRecepcion"/>
</message>
<message name="registraDetalleErrorRecepcionResponse">
<part name="parameters" element="tns:registraDetalleErrorRecepcionResponse"/>
</message>
<message name="traspasoEntreCuentas">
<part name="parameters" element="tns:traspasoEntreCuentas"/>
</message>
<message name="traspasoEntreCuentasResponse">
<part name="parameters" element="tns:traspasoEntreCuentasResponse"/>
</message>
<message name="conecta">
<part name="parameters" element="tns:conecta"/>
</message>
<message name="conectaResponse">
<part name="parameters" element="tns:conectaResponse"/>
</message>
<message name="desconecta">
<part name="parameters" element="tns:desconecta"/>
</message>
<message name="desconectaResponse">
<part name="parameters" element="tns:desconectaResponse"/>
</message>
<message name="asociaNumeroCelular">
<part name="parameters" element="tns:asociaNumeroCelular"/>
</message>
<message name="asociaNumeroCelularResponse">
<part name="parameters" element="tns:asociaNumeroCelularResponse"/>
</message>
<message name="altaCuentaTerceros">
<part name="parameters" element="tns:altaCuentaTerceros"/>
</message>
<message name="altaCuentaTercerosResponse">
<part name="parameters" element="tns:altaCuentaTercerosResponse"/>
</message>
<message name="registraTraspaso">
<part name="parameters" element="tns:registraTraspaso"/>
</message>
<message name="registraTraspasoResponse">
<part name="parameters" element="tns:registraTraspasoResponse"/>
</message>
<message name="conciliacionServiceFirma">
<part name="parameters" element="tns:conciliacionServiceFirma"/>
</message>
<message name="conciliacionServiceFirmaResponse">
<part name="parameters" element="tns:conciliacionServiceFirmaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="consultaCEPLote">
<part name="parameters" element="tns:consultaCEPLote"/>
</message>
<message name="consultaCEPLoteResponse">
<part name="parameters" element="tns:consultaCEPLoteResponse"/>
</message>
<message name="consultaCEP">
<part name="parameters" element="tns:consultaCEP"/>
</message>
<message name="consultaCEPResponse">
<part name="parameters" element="tns:consultaCEPResponse"/>
</message>
<message name="devuelveOrdenRazonRechazo">
<part name="parameters" element="tns:devuelveOrdenRazonRechazo"/>
</message>
<message name="devuelveOrdenRazonRechazoResponse">
<part name="parameters" element="tns:devuelveOrdenRazonRechazoResponse"/>
</message>
<message name="devuelveOrdenClaveRastreo">
<part name="parameters" element="tns:devuelveOrdenClaveRastreo"/>
</message>
<message name="devuelveOrdenClaveRastreoResponse">
<part name="parameters" element="tns:devuelveOrdenClaveRastreoResponse"/>
</message>
<message name="devuelveOrdenExtemporanea">
<part name="parameters" element="tns:devuelveOrdenExtemporanea"/>
</message>
<message name="devuelveOrdenExtemporaneaResponse">
<part name="parameters" element="tns:devuelveOrdenExtemporaneaResponse"/>
</message>
<message name="regDetalleErrEnvExtemp">
<part name="parameters" element="tns:regDetalleErrEnvExtemp"/>
</message>
<message name="regDetalleErrEnvExtempResponse">
<part name="parameters" element="tns:regDetalleErrEnvExtempResponse"/>
</message>
<message name="denominacionesPagosMoviles">
<part name="parameters" element="tns:denominacionesPagosMoviles"/>
</message>
<message name="denominacionesPagosMovilesResponse">
<part name="parameters" element="tns:denominacionesPagosMovilesResponse"/>
</message>
<message name="conciliacionService">
<part name="parameters" element="tns:conciliacionService"/>
</message>
<message name="conciliacionServiceResponse">
<part name="parameters" element="tns:conciliacionServiceResponse"/>
</message>
<message name="estadoOperaciones">
<part name="parameters" element="tns:estadoOperaciones"/>
</message>
<message name="estadoOperacionesResponse">
<part name="parameters" element="tns:estadoOperacionesResponse"/>
</message>
<message name="consultaOrdenEnviada">
<part name="parameters" element="tns:consultaOrdenEnviada"/>
</message>
<message name="consultaOrdenEnviadaResponse">
<part name="parameters" element="tns:consultaOrdenEnviadaResponse"/>
</message>
<message name="consultaOrdenEnviadaRastreo">
<part name="parameters" element="tns:consultaOrdenEnviadaRastreo"/>
</message>
<message name="consultaOrdenEnviadaRastreoResponse">
<part name="parameters" element="tns:consultaOrdenEnviadaRastreoResponse"/>
</message>
<message name="consultaOrdenRecibida">
<part name="parameters" element="tns:consultaOrdenRecibida"/>
</message>
<message name="consultaOrdenRecibidaResponse">
<part name="parameters" element="tns:consultaOrdenRecibidaResponse"/>
</message>
<message name="reenviaErroresH2H">
<part name="parameters" element="tns:reenviaErroresH2H"/>
</message>
<message name="reenviaErroresH2HResponse">
<part name="parameters" element="tns:reenviaErroresH2HResponse"/>
</message>
<message name="consultaNominaTesofe">
<part name="parameters" element="tns:consultaNominaTesofe"/>
</message>
<message name="consultaNominaTesofeResponse">
<part name="parameters" element="tns:consultaNominaTesofeResponse"/>
</message>
<message name="consultaNominaTesofeFechaOperacion">
<part name="parameters" element="tns:consultaNominaTesofeFechaOperacion"/>
</message>
<message name="consultaNominaTesofeFechaOperacionResponse">
<part name="parameters" element="tns:consultaNominaTesofeFechaOperacionResponse"/>
</message>
<message name="consultaOrdenes">
<part name="parameters" element="tns:consultaOrdenes"/>
</message>
<message name="consultaOrdenesResponse">
<part name="parameters" element="tns:consultaOrdenesResponse"/>
</message>
<message name="esDiaInhabil">
<part name="parameters" element="tns:esDiaInhabil"/>
</message>
<message name="esDiaInhabilResponse">
<part name="parameters" element="tns:esDiaInhabilResponse"/>
</message>
<message name="consultaCEPCuentaOperante">
<part name="parameters" element="tns:consultaCEPCuentaOperante"/>
</message>
<message name="consultaCEPCuentaOperanteResponse">
<part name="parameters" element="tns:consultaCEPCuentaOperanteResponse"/>
</message>
<message name="consultaSaldoCuenta">
<part name="parameters" element="tns:consultaSaldoCuenta"/>
</message>
<message name="consultaSaldoCuentaResponse">
<part name="parameters" element="tns:consultaSaldoCuentaResponse"/>
</message>
<message name="registraOrdenesTraspasos">
<part name="parameters" element="tns:registraOrdenesTraspasos"/>
</message>
<message name="registraOrdenesTraspasosResponse">
<part name="parameters" element="tns:registraOrdenesTraspasosResponse"/>
</message>
<portType name="SpeiServices">
<operation name="consultaSaldos">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaSaldosRequest" message="tns:consultaSaldos"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaSaldosResponse" message="tns:consultaSaldosResponse"/>
</operation>
<operation name="confirmaAbonoId">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoIdRequest" message="tns:confirmaAbonoId"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoIdResponse" message="tns:confirmaAbonoIdResponse"/>
</operation>
<operation name="confirmaAbonoDelay">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoDelayRequest" message="tns:confirmaAbonoDelay"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoDelayResponse" message="tns:confirmaAbonoDelayResponse"/>
</operation>
<operation name="confirmaAbono">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoRequest" message="tns:confirmaAbono"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaAbonoResponse" message="tns:confirmaAbonoResponse"/>
</operation>
<operation name="registraOrden">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenRequest" message="tns:registraOrden"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenResponse" message="tns:registraOrdenResponse"/>
</operation>
<operation name="registraOrdenes">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenesRequest" message="tns:registraOrdenes"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenesResponse" message="tns:registraOrdenesResponse"/>
</operation>
<operation name="devuelveOrden">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenRequest" message="tns:devuelveOrden"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenResponse" message="tns:devuelveOrdenResponse"/>
</operation>
<operation name="confirmaCargo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaCargoRequest" message="tns:confirmaCargo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaCargoResponse" message="tns:confirmaCargoResponse"/>
</operation>
<operation name="confirmaCargoRastreo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaCargoRastreoRequest" message="tns:confirmaCargoRastreo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/confirmaCargoRastreoResponse" message="tns:confirmaCargoRastreoResponse"/>
</operation>
<operation name="tiempoEntregaAbono">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaAbonoRequest" message="tns:tiempoEntregaAbono"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaAbonoResponse" message="tns:tiempoEntregaAbonoResponse"/>
</operation>
<operation name="tiempoEntregaAbonoRastreo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaAbonoRastreoRequest" message="tns:tiempoEntregaAbonoRastreo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaAbonoRastreoResponse" message="tns:tiempoEntregaAbonoRastreoResponse"/>
</operation>
<operation name="tiempoEntregaCargo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaCargoRequest" message="tns:tiempoEntregaCargo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaCargoResponse" message="tns:tiempoEntregaCargoResponse"/>
</operation>
<operation name="tiempoEntregaCargoRastreo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaCargoRastreoRequest" message="tns:tiempoEntregaCargoRastreo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/tiempoEntregaCargoRastreoResponse" message="tns:tiempoEntregaCargoRastreoResponse"/>
</operation>
<operation name="registraDetalleErrorEnvio">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraDetalleErrorEnvioRequest" message="tns:registraDetalleErrorEnvio"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraDetalleErrorEnvioResponse" message="tns:registraDetalleErrorEnvioResponse"/>
</operation>
<operation name="registraDetalleErrorRecepcion">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraDetalleErrorRecepcionRequest" message="tns:registraDetalleErrorRecepcion"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraDetalleErrorRecepcionResponse" message="tns:registraDetalleErrorRecepcionResponse"/>
</operation>
<operation name="traspasoEntreCuentas">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/traspasoEntreCuentasRequest" message="tns:traspasoEntreCuentas"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/traspasoEntreCuentasResponse" message="tns:traspasoEntreCuentasResponse"/>
</operation>
<operation name="conecta">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conectaRequest" message="tns:conecta"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conectaResponse" message="tns:conectaResponse"/>
</operation>
<operation name="desconecta">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/desconectaRequest" message="tns:desconecta"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/desconectaResponse" message="tns:desconectaResponse"/>
</operation>
<operation name="asociaNumeroCelular">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/asociaNumeroCelularRequest" message="tns:asociaNumeroCelular"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/asociaNumeroCelularResponse" message="tns:asociaNumeroCelularResponse"/>
</operation>
<operation name="altaCuentaTerceros">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/altaCuentaTercerosRequest" message="tns:altaCuentaTerceros"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/altaCuentaTercerosResponse" message="tns:altaCuentaTercerosResponse"/>
</operation>
<operation name="registraTraspaso">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraTraspasoRequest" message="tns:registraTraspaso"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraTraspasoResponse" message="tns:registraTraspasoResponse"/>
</operation>
<operation name="conciliacionServiceFirma">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionServiceFirmaRequest" message="tns:conciliacionServiceFirma"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionServiceFirmaResponse" message="tns:conciliacionServiceFirmaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionServiceFirma/Fault/Exception"/>
</operation>
<operation name="consultaCEPLote">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPLoteRequest" message="tns:consultaCEPLote"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPLoteResponse" message="tns:consultaCEPLoteResponse"/>
</operation>
<operation name="consultaCEP">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPRequest" message="tns:consultaCEP"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPResponse" message="tns:consultaCEPResponse"/>
</operation>
<operation name="devuelveOrdenRazonRechazo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenRazonRechazoRequest" message="tns:devuelveOrdenRazonRechazo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenRazonRechazoResponse" message="tns:devuelveOrdenRazonRechazoResponse"/>
</operation>
<operation name="devuelveOrdenClaveRastreo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenClaveRastreoRequest" message="tns:devuelveOrdenClaveRastreo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenClaveRastreoResponse" message="tns:devuelveOrdenClaveRastreoResponse"/>
</operation>
<operation name="devuelveOrdenExtemporanea">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenExtemporaneaRequest" message="tns:devuelveOrdenExtemporanea"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/devuelveOrdenExtemporaneaResponse" message="tns:devuelveOrdenExtemporaneaResponse"/>
</operation>
<operation name="regDetalleErrEnvExtemp">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/regDetalleErrEnvExtempRequest" message="tns:regDetalleErrEnvExtemp"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/regDetalleErrEnvExtempResponse" message="tns:regDetalleErrEnvExtempResponse"/>
</operation>
<operation name="denominacionesPagosMoviles">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/denominacionesPagosMovilesRequest" message="tns:denominacionesPagosMoviles"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/denominacionesPagosMovilesResponse" message="tns:denominacionesPagosMovilesResponse"/>
</operation>
<operation name="conciliacionService">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionServiceRequest" message="tns:conciliacionService"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionServiceResponse" message="tns:conciliacionServiceResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/conciliacionService/Fault/Exception"/>
</operation>
<operation name="estadoOperaciones">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/estadoOperacionesRequest" message="tns:estadoOperaciones"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/estadoOperacionesResponse" message="tns:estadoOperacionesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/estadoOperaciones/Fault/Exception"/>
</operation>
<operation name="consultaOrdenEnviada">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenEnviadaRequest" message="tns:consultaOrdenEnviada"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenEnviadaResponse" message="tns:consultaOrdenEnviadaResponse"/>
</operation>
<operation name="consultaOrdenEnviadaRastreo">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenEnviadaRastreoRequest" message="tns:consultaOrdenEnviadaRastreo"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenEnviadaRastreoResponse" message="tns:consultaOrdenEnviadaRastreoResponse"/>
</operation>
<operation name="consultaOrdenRecibida">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenRecibidaRequest" message="tns:consultaOrdenRecibida"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenRecibidaResponse" message="tns:consultaOrdenRecibidaResponse"/>
</operation>
<operation name="reenviaErroresH2H">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/reenviaErroresH2HRequest" message="tns:reenviaErroresH2H"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/reenviaErroresH2HResponse" message="tns:reenviaErroresH2HResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/reenviaErroresH2H/Fault/Exception"/>
</operation>
<operation name="consultaNominaTesofe">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaNominaTesofeRequest" message="tns:consultaNominaTesofe"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaNominaTesofeResponse" message="tns:consultaNominaTesofeResponse"/>
</operation>
<operation name="consultaNominaTesofeFechaOperacion">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaNominaTesofeFechaOperacionRequest" message="tns:consultaNominaTesofeFechaOperacion"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaNominaTesofeFechaOperacionResponse" message="tns:consultaNominaTesofeFechaOperacionResponse"/>
</operation>
<operation name="consultaOrdenes">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenesRequest" message="tns:consultaOrdenes"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaOrdenesResponse" message="tns:consultaOrdenesResponse"/>
</operation>
<operation name="esDiaInhabil">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/esDiaInhabilRequest" message="tns:esDiaInhabil"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/esDiaInhabilResponse" message="tns:esDiaInhabilResponse"/>
</operation>
<operation name="consultaCEPCuentaOperante">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPCuentaOperanteRequest" message="tns:consultaCEPCuentaOperante"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaCEPCuentaOperanteResponse" message="tns:consultaCEPCuentaOperanteResponse"/>
</operation>
<operation name="consultaSaldoCuenta">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaSaldoCuentaRequest" message="tns:consultaSaldoCuenta"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/consultaSaldoCuentaResponse" message="tns:consultaSaldoCuentaResponse"/>
</operation>
<operation name="registraOrdenesTraspasos">
<input wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenesTraspasosRequest" message="tns:registraOrdenesTraspasos"/>
<output wsam:Action="http://h2h.integration.spei.enlacefi.lgec.com/SpeiServices/registraOrdenesTraspasosResponse" message="tns:registraOrdenesTraspasosResponse"/>
</operation>
</portType>
<binding name="SpeiServicesImplPortBinding" type="tns:SpeiServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultaSaldos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmaAbonoId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmaAbonoDelay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmaAbono">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraOrdenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devuelveOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmaCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmaCargoRastreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tiempoEntregaAbono">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tiempoEntregaAbonoRastreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tiempoEntregaCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tiempoEntregaCargoRastreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraDetalleErrorEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraDetalleErrorRecepcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traspasoEntreCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conecta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desconecta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asociaNumeroCelular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="altaCuentaTerceros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraTraspaso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conciliacionServiceFirma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="consultaCEPLote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaCEP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devuelveOrdenRazonRechazo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devuelveOrdenClaveRastreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devuelveOrdenExtemporanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regDetalleErrEnvExtemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="denominacionesPagosMoviles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conciliacionService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="estadoOperaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="consultaOrdenEnviada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaOrdenEnviadaRastreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaOrdenRecibida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reenviaErroresH2H">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="consultaNominaTesofe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaNominaTesofeFechaOperacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaOrdenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="esDiaInhabil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaCEPCuentaOperante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaSaldoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraOrdenesTraspasos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SpeiServicesImplService">
<port name="SpeiServicesImplPort" binding="tns:SpeiServicesImplPortBinding">
<soap:address location="http://demo.stpmex.com:7004/speidemo/webservices/SpeiServices"/>
</port>
</service>
</definitions>